iframe {
    background-color: skyblue;
}

a{
    background-color: royalblue;
    border-radius: 3px;
    color: white;
}
button{
    background-color: royalblue;
    color: white;
    border-radius: 3px;
}
